
@model List<KnowledgeHub.Web.Models.Entities.Catagory>

<h3>We have @Model.Count Catagories</h3>
<hr />
<h4>@TempData["Message"]</h4>
<br />
<a asp-action="Create" class="btn btn-primary">Create New Catagory</a><br />
<table class="table table-bordered">
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Action</th>

    </tr>
    @foreach (var c in Model)
    {
        <tr>
            <td>@c.Name</td>
            <td>@c.Description</td>
            <td>
                <a asp-action="Edit" asp-route-id="@c.CatagoryID" class="btn btn-primary">Edit</a>
                @*<a href="/Catagories/Edit/@c.CatagoryID">Edit</a>*@
                <a asp-action="Delete" asp-route-id="@c.CatagoryID" class="btn btn-danger">Delete</a>
            </td>
        </tr>
    }

</table>